.myForm {
    display: flex;
    justify-content: center;
}

form {
    margin-top: 150px;
    border: 1px dashed #000;
    padding: 20px;
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

label {
    margin-top: 10px;
    margin-bottom: 3px;
}

input {
    height: 30px;
}

button {
    margin-top: 10px;
    background-color: #000;
    color: #fff;
    height: 40px;
}

h3{
    text-align: center;
}